header.navbar {
  height: 40px;
  margin: 5px 20px;
}

/* div.menu .menu-item.tile.tile-centered {
  margin-top: 5px;
} */

footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
}

.statModContainer {
  display: flex;
}

.statModSlot {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.menu {
  min-height: 125px;
  padding-top: 25px;
  transform: none;
  z-index: inherit;
}

.card {
  align-items: center;
  background-color: #FFF0;
  border-width: 2px;;
  flex: 1;
  font-size: 12px;
  /* height: 125px; */
  padding: 4px;
  margin: 4px;
}

.placeholder-card {
  border: dashed lightgray;
  width: 75px;
}

.character-bench, .character-card {
  border: solid blue;
}

.routine-bench, .routine-card {
  border: solid green;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.empty-slot {
  align-items: center;
  border: 1px dashed #aaa;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-icon {
  border-radius: 0px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: auto;
  width: 50px;
}


.character-stats-container {
  display: flex;
  border: 1px solid lightblue;
  justify-content: space-around;
}

.exp-bar-container {
  display: flex;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  width: 66%;
  z-index: 1;
}

.exp-bar-container-vertical {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: -4px;
  height: 50px;
  width: 8px;
  z-index: 1;
}

.exp-bar {
  border: 1px solid blue;
  background-color: #66F;
  flex: 1;
}

.exp-bar-empty {
  border: 1px dashed lightblue;
  background-color: #ddd;
}

.if-card {
  align-items: start;
  color: goldenrod;
  flex-direction: column;
}

.if-details-container {
  border-left: 2px dashed goldenrod;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4px 4px 4px 8px;
  width: 100%
}

.if-cards-container {
  border: 1px dashed goldenrod;
  flex-grow: 1;
  min-height: 75px;
  padding-left: 2px;
}

.solid-border {
  border-style: solid;
}

.if-condition-temp {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.if-range-bars {
  border-top: 2px solid goldenrod;
  width: 100%;
}

.if-condition-container {
  display: flex;
  /* flex-grow: 1; */
}

.empty-if-condition-slot {
  border-top: 1px dashed goldenrod;
  height: 90px;
}
