header.navbar {
  height: 40px;
  margin: 5px 20px;
}

/* div.menu .menu-item.tile.tile-centered {
  margin-top: 5px;
} */

footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
}

.statModContainer {
  display: flex;
}

.statModSlot {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.menu {
  min-height: 150px;
  padding-top: 25px;
  transform: none;
  z-index: inherit;
}

.card {
  align-items: center;
  background-color: #FFF0;
  border-width: 2px;;
  flex: 1;
  font-size: 12px;
  /* height: 125px; */
  padding: 4px;
}

.placeholder-card {
  border: dashed lightgray;
  width: 75px;
}

.character-bench, .character-card {
  border: solid blue;
  height: 150px;
}

.routine-bench, .routine-card {
  border: solid green;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.empty-slot {
  align-items: center;
  border: 1px dashed #aaa;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-icon {
  border-radius: 0px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: auto;
  width: 50px;
}


.character-stats-container {
  display: flex;
  border: 1px solid lightblue;
  justify-content: space-around;
}

.exp-bar-container {
  display: flex;
  width: 100%;
  height: 5px;
}

.exp-bar {
  border: 1px solid blue;
  background-color: #66F;
  flex: 1;
}

.exp-bar-empty {
  border: 1px dashed lightblue;
  background-color: #ddd;
}

.if-card {
  align-items: start;
  color: goldenrod;
}

.if-range-bars {
  border: 2px dashed goldenrod;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4px 8px;
}

.if-condition-container {
  min-height: 100px;
  flex-grow: 1;
}